<h1>商品一覧</h1>
 <br>

<table class="table table-striped tabole-bordered table-hover">
    <thead class= "thead-dark">
        <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税込価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
        </tr>
    </thead>

</table>

