<h1>商品新規登録</h1
<div class="form-group">
  <%= f.label:商品名, class:"col-xs-2" %>
  <%= f.text_field :name, size:"56x5" %>
</div>
  <div class="mb-3">
    <label for="formFileMultiple" class="form-label">商品画像</label>
    <input class="form-control" type="file" id="formFileMultiple" multiple>
  </div>
  <select class="form-select form-select-sm" aria-label=".form-select-sm example">
    <option selected>--選択してください--</option>
    <option value="1">ケーキ</option>
    <option value="2">プリン</option>
    <option value="3">焼き菓子</option>
    <option value="4">キャンディ</option>
  </select>

