<h1>会員一覧</h1>
 <br>

<table class="table table-striped tabole-bordered table-hover">
    <thead class= "thead-dark">
        <tr>
            <th>会員id</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
        </tr>
    </thead>
      <tbody>
        <% @customers.each do |customer| %>
          <tr>
            <th><%= customer.id %></th>
            <th><%= link_to customer.full_name, admin_customer_path(customer.id) %></th>
            <th><%= customer.email %></th>
            <th><%= customer.is_active %></th>
          </tr>
        <% end %>
    </tbody>
</table>

