<h1>会員一覧</h1>
 <br>

<table class="table table-striped tabole-bordered table-hover">
    <thead class= "thead-dark">
        <tr>
            <th>会員id</th>
            <th>氏名</th>
            <th>メールアドレス</th>
            <th>ステータス</th>
        </tr>
    </thead>
      <tbody>
        <%# .each do || %>
          <tr>
            <th><%#= item.id %></th>
            <th><%#= link_to item.name, admin_item_path(item.id) %></th>
            <th><%#= item.price %></th>
            <th><%#= item.genre.name %></th>
          </tr>
        <%# end %>
    </tbody>
</table>

